<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700 pt-[5rem]">
  <div class="container h-screen p-10 mx-auto max-w-7xl">
    <section
      class="rounded-md p-6 text-center shadow-lg md:p-12 md:text-left"
      style="background-image: url(https://tecdn.b-cdn.net/img/Photos/Others/background2.jpg)">
      <div class="flex justify-center">
        <div class="max-w-3xl">
          <div
            class="m-4 block rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-800 dark:shadow-black/20">
            <!--Testimonial-->
            <div class="md:flex md:flex-row">
              <div
                class="mx-auto mb-6 flex w-36 items-center justify-center md:mx-0 md:w-96 lg:mb-0">
                <img
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                  class="rounded-full shadow-md dark:shadow-black/30"
                  alt="woman avatar" />
              </div>
              <div class="md:ml-6">
                <p
                  class="mb-6 font-light text-neutral-500 dark:text-neutral-300">
                  大家好，我是ChatGPT，一个笑果担当的AI助手！我身高三个像素，体重只有几兆字节，但我保证给你带来无穷的欢乐和娱乐！让我来给你展示一下我的幽默细胞：
                </p>
                <p
                  class="mb-2 text-xl font-semibold text-neutral-800 dark:text-neutral-200">
                  个人中心页面
                </p>
                <p
                  class="mb-0 font-semibold text-neutral-500 dark:text-neutral-400">
                  full name: {{profile$?.username}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
